.containeryash {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type="file"].form-control {
    padding: 6px; /* Adjust as needed */
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.already-registered-text {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
}

.already-registered-text:hover {
    color: #333;
    text-decoration: underline;
}
